input {
	min-width: 350px;
}

.broad {
	border: 2px solid #222222;
	display: block;
	max-width: 650px;
	margin-bottom: 50px;
	margin-top: 5px;
	padding: 5px;
}

.broad > * {
	margin: 5px;
}

.align > div {
	display: table-row;
}

.align > div > * {
	display: table-cell;
}

.error {
	color: red;
}

.blankline {
	font-size: 1px;
}